body {
  height: auto;
  margin: 0%;
}
header h1 {
  background-color: red;
  margin: 0%;
  padding: 20px;
  text-align: center;
}
#navigate {
  position: sticky;
  top: 0%;
  z-index: 1;
}
.menu {
  margin: 0%;
  background-color: grey;
}
.menu li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.menu li {
  padding: 10px;
  display: inline-block;
}
.menu li:hover {
  background-color: rgb(68, 68, 68);
}
.menu li:nth-child(2):hover #Dropdown_1,
.menu li:nth-child(3):hover #Dropdown_2 {
  display: block;
}
#Dropdown_1,
#Dropdown_2 {
  position: absolute;
  width: auto;
  max-width: 150px;
  display: none;
  top: 42.5px;
  background-color: rgb(224, 224, 224);
  padding: 0px;
}
#Dropdown_1 li,
#Dropdown_2 li {
  display: block;
}
#Dropdown_1 li:hover,
#Dropdown_2 li:hover {
  display: block;
  background-color: brown;
}
#Dropdown_1 li a,
#Dropdown_2 li a {
  color: rgba(0, 202, 202, 0.884);
  font-size: 15px;
}
